# BayanHealth Frontend Demo Environment Variables
NEXT_PUBLIC_API_BASE_URL=https://f9xiyx5s64.execute-api.ap-southeast-1.amazonaws.com
NEXT_PUBLIC_WS_URL=wss://y7rkn7sc97.execute-api.ap-southeast-1.amazonaws.com
NEXT_PUBLIC_AWS_REGION=ap-southeast-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-southeast-1_bnXemsKn2
NEXT_PUBLIC_COGNITO_CLIENT_ID=13msbvlaepqpkghalh775t9qgv
